.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  background-color: #01081d; /* Set background color */
  padding: 10px; /* Add padding */
}

.navbar ul {
  list-style-type: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Add margin between list items */
  font-family:'Gill Sans';
  font-size: larger;
}

.navbar ul li a {
  color: #ffffff; /* Set link color */
  text-decoration: none; /* Remove underline from links */
}

.navbar ul li a:hover {
  color: #fff39c; /* Change link color on hover */
}

.footer {
  background-color: #01081d;
  font-family: 'Gill Sans';
  color: #fff39c;
  text-align: center;
  padding: 10px;
  font-size: x-small;
}

.footer a {
  color: #fff39c; /* Set the normal color */
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  color: #ffffff; /* Set the color on hover */
}